<div class='container-fluid'>
<% for r in 0..@lesson_template.rows %>
  <div class='row'>
    <% for c in 0..@lesson_template.cols %>
      <% @box = @lesson_template.lesson_template_boxes.find(:first, :conditions => ['row = ? and col = ?', r, c])%>
      <% if @box != nil %>
	    <div class='col-md-<%= ( @box.colspan * 12 ) / @lesson_template.cols %>' id='lesson_template_box_<%= @box.id %>'>
		  <%= render 'lesson_template_boxes/show' %>
	    </div>
	  <% end %>
    <% end %>
  </div>
<% end %>
</div>

<script>
  $(function () {
	$(".lesson_template_box").droppable({
		hoverClass: "ui-state-highlight",
		drop: function (event, ui) {
			alert("dropped");
		}
	})
  });
</script>