<div class='container-fluid'>
<% for r in 0..@lesson_template.rows %>
  <div class='row'>
    <% for c in 0..@lesson_template.cols %>
      <% @box = @lesson_template.lesson_template_boxes.find(:first, :conditions => ['row = ? and col = ?', r, c])%>
      <% if @box != nil %>
	    <div class='col-md-<%= ( @box.colspan * 12 ) / @lesson_template.cols %>'>
		  <div class='panel panel-default'>
		    <div class='panel-heading'>
		      <%= @box.lesson_entryset.name %>
		    </div>
		    <div id="<%= @box.lesson_entryset.name %>" class="panel-body lesson_template_box" style='width: 100%; height: 90%;'>
			  <% @lesson_item = LessonItem.new %>
			  <%= render 'lesson_items/form' %>
		    </div>
	      </div>
	    </div>
	  <% end %>
    <% end %>
  </div>
<% end %>
</div>

<script>
  $(function () {
	$(".lesson_template_box").droppable({
		hoverClass: "ui-state-highlight",
		drop: function (event, ui) {
			alert("dropped");
		}
	})
  });
</script>