<style>
.field {
	display: inline-block;
}
</style>

<div class='page-header'>
  <h1>Editing Lesson: <%= @lesson.title %></h1>
  <div class='btn btn-default glyphicon glyphicon-pencil' onclick="$('#lesson_form').toggle('fast');"></div>
</div>

<div id='lesson_form' class='well' style='display: none;'>
  <%= render 'form' %>
</div>

<div style='position: relative;'>
  <% @lesson_template = @lesson.lesson_template %>
  <%= render 'lesson_templates/show', :object => @lesson_template %>
</div>

<div style='position: absolute; left: 820px;'>
  <% @standard_domains = StandardDomain.find(:all)%>
  <%= render 'standards/tabbed_index' %>
</div>