		  <div class='panel panel-default'>
		    <div class='panel-heading'>
		      <%= @box.lesson_entryset.name %>
			  <div class='glyphicon glyphicon-plus-sign'></div>
		    </div>
		    <div id="<%= @box.lesson_entryset.name %>" class="panel-body lesson_template_box" style='width: 100%; height: 90%;'>
              <% @lesson_items = @lesson.lesson_items.where(lesson_template_box_id: @box.id) %>
			  <% @lesson_items.each do |lesson_item| %>
			    <div class='alert alert-warning'>
				  <%= lesson_item.content %>
				</div>
			  <% end %>

			  <% @lesson_item = LessonItem.new %>
			  <%= render 'lesson_items/form' %>
		    </div>
	      </div>